@charset "UTF-8";

body {
    font: normal lem Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    color: darkgreen;
}

h2 {
    color: green
}

#titulo {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.topico {
    text-align: right;
}

.texto {
    text-align: justify;
}
