@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 4px 3px #02000d81;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #02000D;
    text-align: center;
    text-shadow: 5px 4px 3px #02000d81;
}

h2 {
    color: #A891D9;
}

body {
    background-image: linear-gradient(to right, #9C0DD9, #380759, #46268C);
}

p {
    text-align: justify;
}