@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    margin-left: 7%;
}

#subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    margin-left: 10%;    
}

fieldset {
   border: 0; 
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(0, 20, 14);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: rgb(92, 3, 3);
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="Email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #594294;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0, 2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: whitesmoke;
    box-shadow: inset 2px 2px 2px black;
    text-shadow: none;
}

#check {
    display: inline-block
}