@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    padding-bottom: 10vh;
}

#container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    margin: -1em;
    height: 96vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

#conteudo {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 400px;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-size: cover;
    background-attachment: fixed;
}